<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  {{ $style := resources.Get "css/style.css" }}
  {{ if $style }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
    <link rel="stylesheet" href="/css/style.css">
  {{ end }}
</head>
<body class="terminal">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer style="margin-top: 3rem; border-top: 1px solid #0f0; padding-top: 1rem; text-align: center; font-size: 0.8rem; color: #080;">
    <p>latincrack@kali:~$ uptime</p>
    <p>up 99.9% | system_status: online | built_with: LatinCrack</p>
</footer>
</body>
</html>